<template>
	<div>
		<div class="row">
           	<div class="col-md-3"></div>
           	<div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Add book title" v-model="bookTitle">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Add book author" v-model="bookAuthor">
                </div>
                <br>
                <button class="btn btn-sm btn-primary" @click="addNewBook">Add</button>
                <button class="btn btn-sm btn-info" @click="clearForm">Clear</button>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
        <hr>
        <div v-if="booksCount > 0">
	        <div class="row">
	        	<div class="col-md-5">
					<input type="text" class="form-control" placeholder="Search query..." v-model="searchQuery" @keyup="searchBook">
				</div>
				<div class="col-md-2">
	                <button class="btn btn-primary" @click="sortByTitle">Sort by Title</button>
	            </div>
	            <div class="col-md-2">
	                <button class="btn btn-primary" @click="sortByAuthor">Sort by Author</button>
	            </div>
	            <div class="col-md-3">
	                <button class="btn btn-primary" data-toggle="modal" data-target="#downloadModal">Download</button>
	            </div>
			</div>
			<br><br>
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item, index) in allBooks">
					  	<td>{{item.title}}</td>
					  	<td>{{item.name}}</td>
					  	<td>
					  		<button class="btn btn-warning" data-toggle="modal" data-target="#editModal" @click="setEditBookVal(item.id, item.title, item.name)">Edit</button>
					  	</td>
					  	<td>
					  		<button class="btn btn-sm btn-danger" @click="deleteBook(item.id)">Delete</button>
					  	</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div v-else>
			<p align="center"><b>No books available</b></p>
		</div>



		<!-- Edit Book Modal -->
		<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="editModalLabel">Edit Book</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="form-group">
		      		<label><b>Title</b></label>
		      		<input type="text" class="form-control" v-model="editBookTitle" disabled>
		      	</div>
		      	<div class="form-group">
		      		<label><b>Author</b></label>
		      		<input type="text" class="form-control" v-model="editBookAuthor">
		      	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" @click="updateBook">Save</button>
		      </div>
		    </div>
		  </div>
		</div>


		<!-- Download Books Modal-->
		<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Download Books</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<div class="row">
		      		<div class="col-md-4">
		      			<input type="radio" name="" value="titles" v-model="downloadAction" @change="setDownloadType($event)"> Only Titles
		      		</div>
		      		<div class="col-md-4">
		      			<input type="radio" name="" value="authors" v-model="downloadAction" @change="setDownloadType($event)"> Only Authors
		      		</div>
		      		<div class="col-md-4">
		      			<input type="radio" name="" value="all" v-model="downloadAction" @change="setDownloadType($event)"> All
		      		</div>
		      	</div>
		      </div>
		      <div class="modal-footer">
		        <a :href="'books/download/csv?action=' + downloadAction" target="_blank">
		        	<button type="button" class="btn btn-primary" :disabled="downloadBtn==='disabled'">Download CSV</button>
		        </a>
		        <a :href="'books/download/xml?action=' + downloadAction" target="_blank">
		        	<button type="button" class="btn btn-primary" :disabled="downloadBtn==='disabled'">Download XML</button>
		        </a>
		      </div>
		    </div>
		  </div>
		</div>

	</div>
</template>

<script>
import VueSweetalert2 from 'vue-sweetalert2';
Vue.use(VueSweetalert2);

	export default {
		data() {
			return {
				allBooks: [], 
        		booksCount: 0, 	
        		bookId: '', 
        		bookTitle: '', 
        		bookAuthor: '', 
        		editBookTitle: '', 
        		editBookAuthor: '', 
        		oldBookAuthor: '', 
        		downloadAction: '', 
        		downloadBtn: 'disabled', 
        		searchQuery: '', 
        		sortStatus: ''
			};
		},

		created() {
			this.getAllBooks()
		}, 

		methods: {
			addNewBook: function() {
	            var self = this

	            if (self.bookTitle === '' || self.bookTitle === null) {	            
	            	self.$swal('Error!','Book title cannot be empty','error')
	                return false
	            }
	            else if (self.bookAuthor === '' || self.bookAuthor === null) {
	                self.$swal('Error!','Book author cannot be empty','error')
	                return false
	            }

	            var url = 'api/books/add'
	            axios.post(url, {
	                book_title : self.bookTitle, 
	                book_author: self.bookAuthor
	            })
	            .then(function (response) {
	                if (response.data.status === 'success') {
	                    self.bookTitle  = ''
	                    self.bookAuthor = ''
	                    self.getAllBooks()
	                    self.$swal('Success!',response.data.message,'success')
	                }
	                else {
	                    self.$swal('Error!',response.data.message,'error')
	                }
	            })
	            .catch(function (error) {
	                self.$swal('Error!','There was an error, please try again','error')
	            })
        	}, 
        	clearForm: function() {
	            var self = this
	            self.bookTitle      = ''
	            self.bookAuthor     = ''
	        }, 
			getAllBooks: function() {
	            var self = this
	            var url = 'api/books/all'
	            axios.get(url)
	            .then(function (response) {
	                if (response.data.status != 'failed') {
	                    self.allBooks = response.data.books
	                    self.booksCount = self.allBooks.length
	                }
	                else {
	                    self.allBooks = []
	                    self.booksCount = 0
	                }
	            })
	            .catch(function (error) {
	                self.allBooks = []
	                self.booksCount = 0
	            })
        	}, 
        	deleteBook: function(bookId) {
	            var self = this

	            var url = 'api/books/delete'
	            axios.post(url, {
	            	'book_id': bookId
	            })
	            .then(function (response) {
	                if (response.data.status === 'success') {
	                    self.getAllBooks()
	                    self.$swal('Success!',response.data.message,'success')
	                }
	                else {
	                    self.$swal('Error!',response.data.message,'error')
	                }
	            })
	            .catch(function (error) {
	                self.$swal('Error!','There was an error, please try again','error')
	            })
        	}, 
        	setEditBookVal: function(bookId, bookTitle, bookAuthor) {
        		var self = this

        		self.bookId 		= bookId
        		self.editBookTitle 	= bookTitle
        		self.editBookAuthor = bookAuthor
        		self.oldBookAuthor 	= self.editBookAuthor
        	}, 
        	updateBook: function() {
        		var self = this

        		if (self.oldBookAuthor === self.editBookAuthor) 
        		{
        			self.$swal('Error!','No changes to update','error')
        			return false
        		}
        		else if (self.editBookAuthor === '' || self.editBookAuthor === null) 
        		{
        			self.$swal('Error!','Book author cannot be empty','error')
        			return false
        		}

        		var url = 'api/books/update/author'
	            axios.post(url, {
	            	book_id: self.bookId, 
	                author_name: self.editBookAuthor
	            })
	            .then(function (response) {
	                if (response.data.status === 'success') {
	                    self.getAllBooks()
	                    $("#editModal").modal('hide');
	                    $('body').removeClass('modal-open');
	                    $('.modal-backdrop').remove();
	                    self.$swal('Success!',response.data.message,'success')
	                }
	                else {
	                    self.$swal('Error!',response.data.message,'error')
	                }
	            })
	            .catch(function (error) {
	                self.$swal('Error!','There was an error, please try again','error')
	            })
        	}, 
        	setDownloadType: function(event) {
        		var self = this

        		self.downloadAction = event.target.value

        		if (self.downloadAction !== '' && self.downloadAction !== null) 
        		{
        			self.downloadBtn = 'enabled'
        		}
        	}, 
        	searchBook: function() {
	            var self = this

	            var url = 'api/books/search?query=' + self.searchQuery
	            axios.get(url)
	            .then(function (response) {
	                if (response.data.status != 'failed') {
	                    self.allBooks = response.data.books
	                    self.booksCount = self.allBooks.length
	                }
	                else {
	                	self.getAllBooks()
	                }
	            })
	            .catch(function (error) {
	                self.allBooks = []
	                self.booksCount = 0
	            })
        	}, 
        	sortByTitle: function() {
        		var self = this

	            var url = 'api/books/sort?sort_by=titles'
	            axios.get(url)
	            .then(function (response) {
	                if (response.data.status != 'failed') {
	                    self.allBooks = response.data.books
	                    self.booksCount = self.allBooks.length
	                }
	                else {
	                    self.allBooks = []
	                    self.booksCount = 0
	                }
	            })
	            .catch(function (error) {
	                self.allBooks = []
	                self.booksCount = 0
	            })
        	}, 
        	sortByAuthor: function() {
        		var self = this

	            var url = 'api/books/sort?sort_by=authors'
	            axios.get(url)
	            .then(function (response) {
	                if (response.data.status != 'failed') {
	                    self.allBooks = response.data.books
	                    self.booksCount = self.allBooks.length
	                }
	                else {
	                    self.allBooks = []
	                    self.booksCount = 0
	                }
	            })
	            .catch(function (error) {
	                self.allBooks = []
	                self.booksCount = 0
	            })
        	}
		}
	}

</script>